html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  font-family: Helvetica, Sans-Serif;
}



canvas {
  display: block;
  z-index: 1;

}

.display-flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.gap-8 {
  gap: 8px;
}

.gap-16 {
  gap: 16px;
}

.align-center {
  align-items: center;
}

.center-top-of-canvas {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

#title {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: absolute;
  top: 55%;
  left: 52.5%;
  transform: translate(-50%, -50%);
  z-index: 3;

  a {
    color: blue;
    text-decoration: none;
  }
}

.title-svg {
  background: none;
  position: absolute;
  top: 2%;
  left: 2%;
  width: 150px;
}

.image-container {
  width: 100%;
  overflow: hidden;
}

#moving-aura-gif {
  position: absolute;
  top: 55%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 950px; /* cannot exceed 950px if not it will cause scrolling */
  /* max-width: 100%;
  height: auto;  */
  /* color: white; */
  filter: blur(50px);
  z-index: 3;
}

#blur-layer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(217, 235, 254, 0.4);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

.floating {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

/* palette styles */
#instruction {
  position: absolute;
  bottom: 16px;
  right: 16px;
  z-index: 6;

}

#slide-up {
  width: 157px;
  height: 25px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
  background: #0066FF;


  position: fixed;
  bottom: 0;
  /* when closed */
  /* bottom: 235px; when open */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s;

  img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;

  }

  .rotate {
    transform: rotate(180deg);
    /* Rotates the image 180 degrees */
    transition: transform 0.3s ease;
    /* Smooth transition */
  }

  #palette {
    height: 235px;
    width: 1280px;
    /* transform: rotate(90deg); */
    flex-shrink: 0;
    padding: 16px;

    border-radius: 10px 10px 0px 0px;
    background: #E5EEF2;
    box-shadow: 0 -10px 54px rgba(3, 32, 75, 0.06);

  }
}

.remove-default-btn-style {
  /* Remove default styling */
  background: none;
  border: none;
  padding: 0;
  outline: none;

  /* Reset appearance */
  color: inherit;
  font: inherit;
  cursor: pointer;
}

/* end of palette styles */

/* Overlay styling */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  /* Semi-transparent background */
  display: none;
  /* Hidden by default */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Card styling inside the overlay */
.overlay-card {
  
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  max-width: 95%; /* Maximum width is 90% of the viewport */
  max-height: 95%; /* Maximum height is 90% of the viewport */
  object-fit: contain; /* Ensures the GIF maintains its aspect ratio */
  transition: transform 0.3s ease; /* Smooth transition for scaling */
}

/* Zoom effect on hover */
.overlay-card:hover {
  transform: scale(1.7) /* Scale the GIF by 10% when hovered */
}

/* Close button styling */
.close-btn {
  position: absolute;
  top: 20px; /* Distance from the top */
  right: 20px; /* Distance from the right */
  background: transparent;
  border: none;
  color: white;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}